/* #bg {
    background-color: #101010;
    text-align: center;
}

#col {
    color: white;
} */

/* .hl {
    background-color: red;
    color: white;
} */

/* * {
    margin: 0;
    padding: 0;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 50px auto;
    transition: .3s width, .3s height .3s, .3s margin-top .3s, 1s background-color;
}

.size {
    width: 150px;
    height: 150px;
    margin-top: 25px;
}

.caption {
    background-color: black;
} */

/* .name {
    font-family: arial;
    font-size: 80px;
}

.name span {
    display: inline-block;
    transition: .3s;
}

.name span:hover {
    transform: scale(2) translateY(-20px);
}

li,
.name {
    color: white;
} */